annotated-doc==0.0.4
annotated-types==0.7.0
anyio==3.6.2
asgiref==3.11.1
beautifulsoup4==4.9.3
blinker==1.9.0
bs4==0.0.1
certifi==2024.8.30
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.5
contourpy==1.0.7
cycler==0.12.1
distro==1.8.0
et_xmlfile==2.0.0
fastapi==0.135.1
fonttools==4.61.1
greenlet==2.0.2
gunicorn==23.0.0
h11==0.12.0
httpcore==0.14.7
httpx==0.22.0
idna==3.10
itsdangerous==2.0.1
Jinja2==3.0.3
kiwisolver==1.4.9
lxml==6.0.2
MarkupSafe==2.0.1
matplotlib==3.10.8
numpy==1.24.4
openai==0.10.5
openpyxl==3.1.5
openpyxl-image-loader==1.0.5
packaging==25.0
pandas==1.5.3
pandas-stubs==3.0.0.260204
pillow==12.0.0
pydantic==2.11.7
pydantic_core==2.33.2
PyMySQL==1.0.2
pyparsing==3.3.1
pypdf==3.9.1
python-dateutil==2.9.0.post0
python-multipart==0.0.5
python-pptx==1.0.2
pytz==2025.2
requests==2.27.1
rfc3986==1.5.0
scipy==1.10.0
six==1.17.0
sniffio==1.2.0
soupsieve==2.3.2.post1
SQLAlchemy==1.4.54
starlette==1.0.0
tqdm==4.64.1
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
urllib3==1.26.19
uvicorn==0.17.0
xlsxwriter==3.2.9
